@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


body{
  background-color: #000;
  color: #fff;
}
h1 h2{
  font-family: 'Archivo Black', sans-serif;
}
header h2{
  font-family: 'Space Mono', monospace;
  padding: 5rem 6rem;
}
.home{
  padding: 8rem 6rem;
}  
.home h1{
  font-size: 5rem;
}
.home h2{
  font-size: 4rem;
}
.art{
  z-index: -1;
  position: absolute;
  width: 85rem;
  right: 1.5rem;
  top: 19rem;
}
/* .circle{
  position: absolute;
  height: 96rem;
  width: 96rem;
  right: 1px;
  top: 35rem;
  border-radius: 100%;
  background-color: #2B70E4;
}
.min{
  height: 12rem;
  width: 12rem;
  right: 15rem;
  top: 9rem;
  background-color: #FFD034;
} */
.content{
  display: grid;
  align-items: center;
}
.sobre{
  position: relative;
  margin: 30rem 30rem 15rem 45rem; 
  width: 40rem;
  color: #000;
  text-align: center;
}