.contact{
    display: flex;
    flex-direction: row;
    gap: 4rem;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}
.contact a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    gap: 1rem;
    transition: 0.5s;
}
.contact a:hover{
    transform: scale(1.2);
}