.containerSchool{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 7rem 0rem 7rem 0rem;
    gap: 3rem;
    overflow-x: hidden;
}
.containerSchool span{
    font-size: 22px;
    color: var(--secondary-dark);
}
.sectionImg{
    margin-bottom: 42rem;
}

#lng{
    max-width: 16rem;
    margin-bottom: 68rem;
}
#his{
    margin-bottom: 162rem;
}

.subtitle{
    font-weight: 600;
    text-align: left;
    color: var(--primary-light);
    background-color: var(--secondary-color);
    font-size:1rem;
    /* width: 100%; */
    padding: 0.8rem 1.5rem;
    border-radius: 80rem;
    opacity: 0.85;
}
.iframe{
    /* max-width: 50%; */
    padding: 2rem 8rem;
    margin-top: 2rem;
    max-height: 100%;
    width: 50%;
}
.iframeDocs{
    width: 140%;
    margin-left: -25%;
    height: 50vh;
    border: 0px;
}
.iframeInfo{
    height: 100%;
    width: 50%;
}
.iframeSite{
    height: 60vh; width: 50vw;
}

#linkGit{
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
}
#linkGit:hover{
    color: var(--secondary-dark);
}
.text{
    color: black;
}
.sectionWorks{
    width: 100%;
    gap: 5rem 0rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-content: start;
    /* padding: 2rem 0rem 7rem 5rem; */
}
.schoolSbj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    align-items: center;
} 

.subtitle span{
    color: #fff;
    font-size: 1rem;
    opacity: 0.6;
    max-width: 100px;
}