.slideContainer {
    width: 50vw;
}

.slider {
    height: 100%;
}

.slideProj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.slideProj img {
    width: 90%;
    border-radius: 5px;
}

.linkImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideProj p {
    text-align: center;
    font-weight: 600;
    font-size: 1.5vw;
    font-family: "OldEnglishFive", sans-serif;
    color: var(--text-secondary);
    /* background-color: var(--background); */
    /* opacity: 0.8; */
    padding: 1vh 2vw;
    border-radius: 20rem;
    margin-bottom: 1rem;
}

.iconsProj {
    margin: 1rem 0rem;
    display: flex;
}

.iconsProj img {
    background: none;
    animation: none;
    width: 2.2vw;
}
.arrow{
    cursor: pointer;
    position: fixed;
    margin-top: 25%;
    width: 3vw;
    padding: 0vh 1.6vw;
}
.arrowLeft {
    left: 0;
    top: 0;
    rotate: 90deg;
}
.arrowRight {
    right: 0;
    top: 0;
    rotate: -90deg;
}