.sectionSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
  gap: 2rem;
  position: relative;
  padding: 8rem 15rem;
  background-color: #fff;
}

.skillsTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: 20%;
  padding: 1rem 1rem;
  border-radius: 5px;
  background: #F3F3F3;
  user-select: none;
}

.skillsTag p {
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Poppins';
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
}

.icon {
  max-width: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 20%;
  transition: ease-in 2s;
}

.skills p {
  margin: 1rem 20rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-weight: 700;
  text-align: left;
  background-color: #dfdfdf;
  width: 50%;
  height: 2.6rem;
}

.ImgSkills {
  top: 0;
  /* Defina a posição superior desejada */
  left: 0;
  margin-top: -7rem;
  margin-left: 6.9rem;
  filter: drop-shadow(12px 19px 17px #3f3f3f27);
  max-width: 300px;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.5s;
}

.content span {
  font-family: 'Poppins';
  font-size: 1rem;
  text-align: left;
  width: 85%;
  margin-top: 0.7rem;
  font-weight: 700;
  animation: deslize 0.5s;
}

.bar {
  width: 85%;
  border-radius: 25px;
  height: 1rem;
  background-color: var(--terceary-light);
}

.progress {
  border-radius: 25px;
  /* width: 85%; */
  height: 1rem;
  box-shadow: 0px -4px 4px 0px rgba(255, 255, 255, 0.342) inset;
}

/* softskills */
.f {
  width: 79%;
  background-color: var(--terceary-color);
}

.s {
  width: 85%;
  background-color: #7DB1FF;
}

.t {
  width: 70%;
  background-color: #FF7DFA;
}

.q {
  width: 80%;
  background-color: #7DE8FF;
}

/* hardskills */
.js {
  width: 89%;
  background-color: #fed54a;
}

.ts {
  width: 65%;
  background-color: #4d9ef0
}

.html {
  width: 85%;
  background-color: #ff6a24
}

.css {
  width: 75%;
  background-color: #9842df
}

.java {
  width: 45%;
  background-color: #addb2e
}

.react {
  width: 55%;
  background-color: #2bcfec
}