@import url('./index.css');

.containerApp {
  background-color: var(--background);
  display: grid;
  column-count: 2;
  max-width: 100%;
  height: 100vh;
  overflow-y: hidden;
  user-select: none;
  transition: .6s;
}

.text {
  margin-left: 8vw;
}

.img {
  grid-column: 2;
  position: relative;
  display: inline-block;
}

.img3d {
  max-width: 27vw;
  padding-top: 20%;
  cursor: pointer;
  filter: var(--shadow);
  animation: float 2s ease-in-out infinite;
}

#title {
  font-family: "proclamate_heavy", sans-serif;
  font-size: 7vw;
  font-weight: bold;
  color: var(--text-primary);
  text-align: "center";
  margin-top: 9vh;
}

#firstA {
  font-family: "OldEnglishFive", sans-serif;
  font-weight: 500;
  font-size: 6.5vw;
}

#subtitle {
  color: var(--text-secondary);
  font-family: "Poppins";
  font-size: 1.8vw;
  font-weight: 600;
  letter-spacing: 0.9px;
  margin-top: 30vh;
  max-width: 28vw;
}

#start {
  width: 8vw;
  height: 8.5vh;
  border: none;
  border-radius: 1.6rem;
  padding: 2rem;
  margin-top: 4.8vh;
  display: flex;
  align-items: center;
  transition: 0.4s;
  justify-content: center;
  opacity: 1;
  cursor: pointer;
  background: linear-gradient(145deg, var(--secondary-background), var(--B5));
  /* box-shadow: 20px 20px 60px #414141, */
  /* -20px -20px 60px #242424; */
}

#start img {
  max-width: 0.8rem;
  margin-left: 1.2rem;
  color: var(--text-primary);
}

#start p {
  font-family: "Poppins";
  font-weight: 700;
  color: var(--text-primary);
  font-size: 1.45rem;
}

#start:active {
  background: var(--secondary-background);
  box-shadow: inset 20px 20px 60px var(--B5),
    inset -20px -20px 60px var(--secondary-background);
}

#start:hover {
  background: linear-gradient(-45deg, var(--secondary-background), var(--B5));
  opacity: 0.7;
  scale: 0.9;
}

.balao {
  visibility: hidden;
  background-color: var(--baloon-background);
  color: var(--text-primary);
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
  filter: var(--shadow2);
  position: absolute;
  z-index: 1;
  font-family: 'Poppins';
  margin-top: 18%;
  margin-left: -20%;
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;

  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: var(--baloon-background) transparent transparent transparent;
    top: 100%;
    left: 20%;
    transform: translateX(-95%);
  }
}

.img:hover .balao {
  visibility: visible;
  opacity: 1;

}


@media screen and (max-width: 650px) {
  .containerApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 7vw;
  }

  .text {
    margin-left: 0vw;
  }

  .img {
    /* grid-column: 0; */
    position: fixed;
    display: inline-block;
    right: 0;
  }

  .img3d {
    animation: float 2.5s ease-in-out infinite;
    max-width: 45vw;
    margin-bottom: 15vh;
    cursor: pointer;
    position: fixed;
    display: inline-block;
    right: 0;
    bottom: 0;
  }

  #title {
    font-family: "proclamate_heavy", sans-serif;
    font-size: 23vw;
    font-weight: bold;
    color: var(--text-primary);
    text-align: left;
    top: 0;
    margin-top: 10%;
    width: 70%;
    /* position: fixed; */
    /* margin-top: 30%; */
  }

  #firstA {
    font-family: "OldEnglishFive", sans-serif;
    font-weight: 600;
    font-size: 17vw;
  }

  #subtitle {
    color: var(--text-secondary);
    font-family: "Poppins";
    font-size: 5vw;
    font-weight: 600;
    letter-spacing: 0.9px;
    position: fixed;
    bottom: 0;
    margin-top: 0%;
    margin-bottom: 50%;
    max-width: 70%;
  }

  #start {
    width: 90%;
    height: 5vh;
    border: none;
    border-radius: 1.6rem;
    padding: 4vh 16vw;
    position: fixed;
    bottom: 0;
    margin-top: 0%;
    margin-bottom: 23%;
    display: flex;
    align-items: center;
    transition: background-color 0.8s;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
    /* box-shadow: 20px 20px 60px #414141, */
    /* -20px -20px 60px #242424; */
  }

  #start img {
    max-width: 0.6rem;
    margin-left: 1.2rem;
    color: var(--text-primary);
  }

  #start p {
    font-family: "Poppins";
    font-weight: 700;
    color: var(--text-primary);
    font-size: 5vw;
  }

  #start:active {
    box-shadow: inset 20px 20px 60px var(--quartenary-background),
      inset -20px -20px 60px var(--secondary-background);
    width: 90%;
    height: 5vh;
  }

  .balao {
    visibility: hidden;
    text-align: center;
    padding: 2vh 5vw;
    border-radius: 2rem;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 45vh;
    margin-right: 2%;
    max-width: 150%;
    font-size: 3.5vw;
    font-weight: 600;
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;

    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 10px;
      border-color: var(--baloon-background) transparent transparent transparent;
      top: 100%;
      left: 90%;
      transform: translateX(-95%);
    }
  }

  .img:hover .balao {
    visibility: visible;
    opacity: 1;

  }
}