@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;600;700&display=swap");

:root {
    --primary-light: #F3F3F3;
    --secondary-light: #ffffff;
    --primary-dark: #242424;
    --secondary-dark: #4e4e4ebe;
    --primary-color: #0635E0;
    --secondary-color: #7429ff;
}

body{
    overflow-x: hidden;
}
*::-webkit-scrollbar{
    width: 12px;
    background-color: #dfdfdf;
}

*::-webkit-scrollbar-track {
    background: #dfdfdf;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #707070;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
  }
  
.elementH:hover {
    color: var(--secondary-color);
    transition: 0.5s;
}

.form {
    border-radius: 23px;
    background: var(--secondary-light);
    box-shadow: 19px 19px 49px #ebebeb,
        -19px -19px 49px var(--secondary-light);
}
.form:active{
    border-radius: 23px;
    background: var(--secondary-light);
    box-shadow: inset 34px 34px 69px #ebebeb,
                inset -34px -34px 69px var(--secondary-light);
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

p {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: var(--primary-dark);
    cursor: pointer
}

a:visited {
    color: var(--primary-dark);
    cursor: pointer
}

a:hover {
    color: var(--secondary-color);
    cursor: pointer
}

.title {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 35px;
    color: #111;
    padding: 5rem 15rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* padding: 7rem 0rem 0rem 0rem; */
    gap: 3rem;
}
.section {
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
    padding: 8rem 15rem;
    display: flex;
    justify-content: center;
}

.mainText {
    font-weight: 500;
    text-align: justify;
    font-size: 22px;
    letter-spacing: 0.7px;
}

.sectionImg {
    max-width: 330px;
    padding: 0rem 0rem 0rem 0rem;
    margin-right: -50.8rem;
    position: absolute;
    margin-top: -24.8rem;
}

span {
    font-weight: bold;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}
