@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;600;700&display=swap");

:root {
    --background: #F3F3F3;
    --secondary-background: #ffff;
    --terceary-background: #c9c9c9;
    --quartenary-background: #ffffff;
    --B5: #e6e6e6;
    --baloon-background: #d9d9d9;
    --text-primary: #242424c9;
    --text-secondary: #4e4e4ebe;
    --text-terceary: #ffffffea;
    --primary-color: #0635E0;
    --secondary-color: #7429ff;
    --terceary-color: #AC80FF;
    --border: #1f1e1e;
    --shadow: 19px 19px 49px #ebebeb, -19px -19px 49px #ffffff;
    --shadow2: drop-shadow(12px 2px 11px #3f3f3f27);
}

[data-theme='dark'] {
    --background: #242424;
    --secondary-background: #353535;
    --terceary-background: #888888;
    --quartenary-background: #303030;
    --B5: #1b1b1b;
    --baloon-background: #363636;
    --text-primary: #dfdfdf;
    --text-secondary: #fff;
    --text-terceary: #fff;
    --primary-color: #d0b8ff;
    --secondary-color: #9660fc;
    --terceary-color: #d2baff;
    --border: #F3F3F3;
    --shadow: 5px 5px 8px #202020,
        -5px -5px 8px #282828;
    --shadow2: 5px 5px 8px #202020,
        -5px -5px 8px #282828;
}

/* * {
    transition: all 0.5s;
} */

body {
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--text-primary);
    transition: all 0.5s ease-in-out;
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: var(--baloon-background);
}

*::-webkit-scrollbar-track {
    background: var(--baloon-background);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--terceary-background);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

.elementH:hover {
    color: var(--secondary-color);
    transition: 0.5s;
}

.form {
    border-radius: 23px;
    cursor: pointer;
    background: var(--secondary-background);
    box-shadow: var(--shadow);
}

.form:active {
    border-radius: 23px;
    background: var(--secondary-background);
    box-shadow: var(--shadow);
}

* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    /* scroll-behavior: smooth; */
}

p {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: var(--text-primary);
    cursor: pointer
}

a:visited {
    color: var(--text-primary);
    cursor: pointer
}

a:hover {
    color: var(--secondary-color);
    cursor: pointer
}

span {
    font-weight: bold;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(15px);
    }

    100% {
        transform: translatey(0px);
    }
}


@keyframes floating {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(15px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes floating2 {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(2px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes deslize {
    from {
        margin-bottom: -10%;
        opacity: 0;
    }

    to {
        margin-bottom: 0%;
        opacity: 1;
    }
}

@keyframes deslize-fechar {
    from {
        margin-top: 0%;
        opacity: 0;
    }

    to {
        margin-top: -10%;
        opacity: 1;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appear2 {
    from {
        margin-top: -10%;
    }

    to {
        margin-top: 0%;
    }
}

/* Standard properties */

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 7rem 0rem 9rem 0rem;
    gap: 3rem;
}

.section {
    background-color: var(--quartenary-background);
    /* margin-top: 5rem; */
    padding: 8rem 15rem;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 35px;
    color: var(--text-primary);
    margin-left: 10%;
}

@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 5rem 0rem 3rem 0rem;
        gap: 2.5rem;
    }

    .section {
        padding: 4rem 2rem;
        display: flex;
        justify-content: center;
    }

    .sectionImg {
        max-width: 45vw;
        position: fixed;
        right: 0;
        margin-top: 0rem;
        margin-left: 0rem;
        filter: var(--shadow);
    }
}